<template>
<b-container>
  <template v-if="questions === null">
    Sembla que ja has votat, o aquest enllaç és incorrecte. Si creus que hi ha algun problema posa't amb contacte amb xxxxx.
  </template>
  <template v-else-if="questions === 'DONE'">
    Gràcies, ja has votat.
  </template>
  <template v-else>
    <div>
      <!-- Modal Component -->
      <b-modal id="modal-confirm-blanks" ref="confirmModal"
        @ok="putBlank"
        title="Preguntes sense resposta">
        <p class="my-4">Hi ha preguntes que no has seleccionat cap opció, vols que les posem en blanc ?</p>
      </b-modal>
    </div>
    <h1>{{title}}</h1>
    <p><button class="btn btn-lg btn-primary" v-on:click="selectAllAndVote()">Votar tota la candidatura</button></p>
    <div v-if="!seenAllOptions">
      <p><button class="btn btn-lg btn-primary" v-on:click="seenAllOptions = true">Votar a persones determinades</button></p>
    </div>
    <b-form @submit="onSubmit" v-if="seenAllOptions">
      <b-button type="submit" variant="primary">Votar</b-button>
      <b-row class="question" v-for="(question) in questions" :key="question.id">
        <b-col>
          <span>{{question.title}}</span>
        </b-col>
        <b-col>
          <b-form-radio-group v-bind:options="question.options"
                              buttons
                              button-variant="outline-primary"
                              v-model="question.answer">
          </b-form-radio-group>
        </b-col>
      </b-row>
   </b-form>
  </template>
</b-container>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import qs from 'qs'
import vc from 'vote-calculation'
import vocwalletlib from 'voc-wallet'

export default {
  name: 'questionnarie',
  data() {
    return {
      title: null,
      questions: null,
      seenAllOptions: false
   }
  },
  mounted() {
    console.log("crea la wallet amb la seed: " + this.$route.params.seed)
    axios({ method: "GET", "url": this.server() + "/api/v1/questionnaire/"+this.$route.params.hash })
    .then(res =>{
      axios({ method: "GET", "url": this.server() + "/api/v1/ask" })
      .then(res => {
        console.log("Consultar wallet té balanç")
        this.votePrepare(res)
      }, error => {
          console.error(error)
      })
    }, error => {

    })
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      if (this.checkBlanks()) this.$refs.confirmModal.show()
      else this.sendResponse()
    },
    putBlank(evt){
      evt.preventDefault()
      this.questions.forEach(function(e) {
        if (e.answer == "") e.answer = 0
      })
      this.$refs.confirmModal.hide()
      this.sendResponse()
    },
    votePrepare(res) {
      res.data.questions.forEach(function (e) {
        e.options.push({ value: 0, text: "blanc"})
        e.answer = ""
      })
      this.title = res.data.title
      this.questions = res.data.questions
    },
    selectAllAndVote() {
      this.questions.forEach(function(i) {
        i.answer = i.options[0].value
      })
      this.sendResponse()
    },
    checkBlanks(){
      return (
        this.questions.some(function(e) {
          return (e.answer === "")
        })
      )
    },
    sendResponse(){
      var jsonRespon = this.questions.map(function(n){
        return n.answer
      })

      var strJsonRespon = vc.calculation(jsonRespon)

      axios.post(this.server() + '/api/v1/questionnaire',
        qs.stringify({
          hash: this.$route.params.hash,
          response: strJsonRespon
        })
      )
      .then(response => {
        this.questions = 'DONE'
        console.log("Enviar strJsonRespon a la @ T del z-relay.")
        console.log(response)
      })
      .catch(e => {
        console.log(e)
      })
    },
    server(){
      return 'https://cliserv.vc.democracia.digital'
    }
  }
}
</script>

<style scoped>
.question { padding: 10px }
.col { min-width: 300px }
</style>
