<template>
  <div id="app">
    <img id="logo" src="./assets/logo-oc.png"/>
    <router-view/>
    <img id="logo-footer" src="/static/logo_footer.png"/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#logo { padding-bottom: 3em }
#logo-footer { padding: 3em }
label.btn {min-width: 225px;  }

@media only screen and (max-width: 550px) {
  label.btn {min-width: 225px;  }
  div.btn-group { display: block }
}
</style>
